*{
    margin: 0;
    padding: 0;
}
.nav-container{
    max-width: 1170px;
    margin: 0 auto;
}
.navbar{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #707070;
}

.btn{
    padding: 20px 30px;
    color: white;
    background-color: #B68C5A;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* Banner Section Styles */
.banner-container{
    background-image:url(./images/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    margin-top: 70px;
}

.banner-title{
    padding: 104px 263px 0 239px;
    font-size: 72px;
    color: white;
    text-align: center;
}

.banner-description{
    color: white;
    text-align: center;
    margin: 24px 0;
}

.banner-search-container{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.input-text{
    width: 500px;
    height: 64px;
    border: none;
    border-radius: 8px;
}

/* Cards Styles */
.legal-area-cards{
    max-width: 1170px;
    margin: 170px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: #E7E7E7;
}

.legal-area-card{
    width: 400px;
    height: 500px;
    /* text-align: center;
    align-items: center; */
    border-bottom: 2px solid #E7E7E7;
    border-right: 2px solid #E7E7E7 ;
}
.card-title{
    font-size: 32px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 24px;
}

.card-info{
    width: 258px;
    height: 130px;
    font-size: 16;
    line-height: 26px;
    color: #707070;
    padding: 0;
    margin: 0 auto;
}

.legal-area-card img{
    padding-top: 56px;
}