*{
    margin: 0;
    padding: 0;
}
.nav-container{
    max-width: 1170px;
    margin: 0 auto;
}
.navbar{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.nav-menu li{
    list-style: none;
}

.nav-menu a{
    text-decoration: none;
    color: #707070;
}

.btn{
    padding: 20px 30px;
    color: white;
    background-color: #B68C5A;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

/* Banner Section Styles */
.banner-container{
    background-image:url(./images/banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    margin-top: 70px;
}

.banner-title{
    font-size: 72px;
    color: white;
    text-align: center;
}
    
    